# get an openrouter API key from https://openrouter.ai/settings/keys after logging in
OPENROUTER_API_KEY=''

LLM_BASE_URL='https://openrouter.ai/api/v1/'

# https://docs.tavily.com/documentation/api-reference/introduction
TAVILY_API_KEY=''